<div class="topNavLink topNavLinkOriginalArt mobileHide{% if collection.title == "Original Art" %} topNavHL{% endif %}">
	<a href="/collections/original-art">ORIGINAL ART</a>
</div>

<div class="topNavLink mobileHide{% if collection.title == "Comic Books" %} topNavHL{% endif %}">
	<a href="/collections/comic-books">COMIC BOOKS</a>
</div>

<div class="topNavLink mobileHide{% if collection.title == "DC" %} topNavHL{% endif %}">
	<a href="/collections/dc">DC</a>
</div>

<div class="topNavLink mobileHide{% if collection.title == "Marvel" %} topNavHL{% endif %}">
	<a href="/collections/marvel">MARVEL</a>
</div>

<div class="topNavLink mobileHide{% if collection.title == "Pop Culture" %} topNavHL{% endif %}">
	<a href="/pages/2023-holiday-specials">HOLIDAY SPECIALS</a>
</div> 

<div class="topNavLink topNavLinkCollections">
<span class="collections">COLLECTIONS <span class="caret">&or;</span></span>
	<div class="collectionsNav">
		 	<div class="collectionsRow">
				<a href="/pages/2023-holiday-specials">HOLIDAY SPECIALS</a><br/>
			</div> 			
		<div class="collectionsRow">
			<a href="/collections/marvel">MARVEL</a><br/>
			<div class="collectionsSub collectionsSubFirst"><a href="/collections/marvel?type=Fine Art">Fine Art</a></div>				
			<div class="collectionsSub"><a href="/collections/marvel?type=Book">Books</a></div>				
			<div class="collectionsSub"><a href="/collections/marvel?type=Original Art">Original Art</a></div>
		</div>				
		<div class="collectionsRow">
			<a href="/collections/dc">DC</a><br/>
			<div class="collectionsSub collectionsSubFirst"><a href="/collections/dc?type=Fine Art">Fine Art</a></div>				
			<div class="collectionsSub"><a href="/collections/dc?type=Book">Books</a></div>				
			<div class="collectionsSub"><a href="/collections/dc?type=Original Art">Original Art</a></div>
		</div>				
		<div class="collectionsRow">
			<a href="/collections/pop-art">POP CULTURE</a><br/>
			<div class="collectionsSub collectionsSubFirst"><a href="/collections/the-beatles">The Beatles</a></div>				
			<div class="collectionsSub"><a href="/collections/universal-monsters">Universal Monsters</a></div>				
			<div class="collectionsSub"><a href="/collections/star-wars">Star Wars</a></div>
			<div class="collectionsSub"><a href="/collections/disney-fine-art">Disney</a></div>
		</div>				
		<div class="collectionsRow">
			<a href="/collections/books">COMIC BOOKS</a><br/>
			<div class="collectionsSub 	collectionsSubFirst"><a href="/collections/comic-books">Comic Books</a></div>				
			<div class="collectionsSub"><a href="/collections/art-books">Art Books</a></div>				
			<div class="collectionsSub"><a href="/collections/cgc/">CGC</a></div>
		</div>				
	  <div class="collectionsRow">
			<a href="/collections/fine-art">FINE ART</a><br/>
			<div class="collectionsSub collectionsSubFirst"><a href="/collections/lithographs">Lithographs</a></div>				
			<div class="collectionsSub"><a href="/collections/giclee-prints">Giclee Prints</a></div>				
			<div class="collectionsSub"><a href="/collections/giclee-on-canvas">Giclee on Canvas</a></div>
		</div>				
		<div class="collectionsRow">
			<a href="/collections/collectibles">COLLECTIBLES</a>
		</div>				
		<div class="collectionsRow collectionsRowOriginalArt">
			<a href="/collections/original-art">ORIGINAL ART</a>
		</div>				
	</div>
</div>