<style>
#bannerBar iframe {position: absolute; z-index: 1; width: 100%; height: 100%; top: 0px; opacity: 1; display: block; -o-transition:1s; -ms-transition:1s; -moz-transition:1s; -webkit-transition:1s; transition:1s; border: 0px;}

@media all and (max-width: 600px){
   #bannerBar iframe {height: calc(100% + 26px); top: -26px;
}
</style>
<div id="bannerBar">
	<iframe data-video-id="569003210" data-vimeo-id="569003210" loop="0" data-src="//player.vimeo.com/video/569003210?loop=0&api=1&amp;transparent=0&amp;background=1&amp;player_id=b8a8d407-8efe-4f02-8de4-613f386bdbc0" title="background video" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="//player.vimeo.com/video/569003210?loop=0&api=1&amp;transparent=0&amp;background=1&amp;player_id=b8a8d407-8efe-4f02-8de4-613f386bdbc0"></iframe>
	<img src="https://cdn.shopify.com/s/files/1/0560/7233/9639/files/thor.jpg?v=1621561446"/>
</div>
<div id="midBar">
	<form action="https://manage.kmail-lists.com/subscriptions/subscribe?a=TQ8nX4&g=YcU4tb"  onsubmit="submitEmailSignup();" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="midBarText">Get Updates & Exclusives from Alex Ross Art!</div>
	<div class="midBarInput"><input type="text" name="EMAIL" id="newsletter"/></div>
      <div class="midBarButton" onclick="submitForm('mc-embedded-subscribe-form');">SIGN UP</div>
      <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" style="display: none;">
      <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f7ecdc10ef19e105fa3b57a8_960ad997e6" tabindex="-1" value=""></div>
    </form>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[13]='MMERGE13';ftypes[13]='text';fnames[14]='MMERGE14';ftypes[14]='text';fnames[15]='MMERGE15';ftypes[15]='text';fnames[16]='MMERGE16';ftypes[16]='text';fnames[17]='MMERGE17';ftypes[17]='text';fnames[18]='QUESTION';ftypes[18]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

</div>
<div class="content">
  <center>
	<div class="contentInner">
		{% include 'shop-collections' %}
		<div class="contentHeader">Featured Products</div>
	{% for product in collections["featured"].products %}
		{% if product.available == true %}
	      {% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
		{% endif %}
    {% endfor %}
		<div id="youtube">
			<center>
			<div class="video_new">
				<div class="videoImg"><img src="https://cdn.shopify.com/s/files/1/0560/7233/9639/files/youtube_1080x.jpg?v=1622155661"/>
					<iframe src="https://www.youtube.com/embed/{{collections["youtube"].description}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="videoText">Subscribe on YouTube for Weekly Videos</div>
                <a href="http://www.youtube.com/channel/UCTPXeCUinfh6RDdmcn1co9g?sub_confirmation=1" target="_blank"><div class="videoSubscribe">SUBSCRIBE NOW</div></a>
			</div>
			</center>
		</div>
	</div>
	</center>
</div>